.page_body_header { margin:0 auto; padding:0; width:1000px;}
.page_body_header_left { float:left; margin-left:5px; background:url(../images/vinababy_04.jpg) no-repeat; width:73px; height:200px; font-size:0%;}
.ibounc_partner { float:left; padding-left:7px;}
.lstneedle { float:left; margin-left:-5px; background:url(../images/vinababy_29.jpg) no-repeat; width:202px; height:247px;}
.main { float:left; margin-top:0; width:570px;}
.guide { margin:0;} 
