#ja-zinfpwrap{border-bottom:1px solid #ddd;}
#ja-zinfp{background:url(dot.gif) repeat-y 50%;}
.ja-zinfp-featured{width:50%;background:url(dot.gif) repeat-y right #EBF2F7;overflow:hidden;}
.ja-zinfp-featured h4.ja-zintitle{margin:0 0 5px !important;padding:0 !important;font-size:175%;}
.ja-zinfp-featured img{margin:0 0 10px !important;padding:0 !important;}
.ja-zinfp-featured .ja-zincontent{padding-top:10px;padding-bottom:10px;border-top:1px solid #ddd;}
.ja-zinfp-normal{width:50%;}
/*
.ja-zinfp-normal .ja-zincontent img{float:right;margin:5px 0 5px 10px !important;}
*/
.ja-zinfp-normal .ja-zincontent{padding-top:5px;padding-bottom:5px;border-top:1px solid #ddd;}
#ja-zinfp .first{border-top:0;}
/*
.ja-zinfp-normal .inactive img,
.ja-zinfp-normal .inactive p{display:none;}
.ja-zinfp-normal .active img, .ja-zinfp-normal .active p{display:block;}
 */
#ja-zinhlwrap{border-bottom:1px solid #ddd;margin-right:1px;}
.ja-zincontent .inner{padding-top:15px;padding-bottom:15px;}
#ja-zinhlwrap h4.ja-zintitle{font-size:175%;}
.ja-zincontent img{margin-right:15px;}
.ja-zinhl-controlbar{position:absolute;top:0;right:15px;padding:5px 0;display:block;}
.ja-zinhl-controlbar ul{margin:0 10px !important;padding:0 !important;float:left;}
.ja-zinhl-controlbar li{margin:0 !important;padding:0 !important;background:none !important;display:inline;}
#ja-zinhl-counter{background:#333;color:#fff;padding:1px 5px;font-size:92%;letter-spacing:1px;}